@import url('reset.css');
@import url('960.css');
@import url('text.css');

html {
  background:#F4F4F4;
}

body {
  margin: 0px;
  padding: 0px;
    background:#fff;
  color: #390c00;
  text-rendering: optimizeLegibility;
  font-size:14px;
}

#background {
  background:url(../images/header.png) no-repeat 50% 180px;
}

#poster {
  height:380px;
  width:100%;

}

#poster h1 {
  text-indent:-9999cm;
}

#vimeo {
  margin:48px auto 0 auto;
  width:580px;
  background:#fff;
}

#vimeo iframe {
  -webkit-box-shadow:0 3px 8px rgba(0,0,0,0.5);
}

.muted, .muted * {
  color:#777 !important;
}
.stockholm#promo {
          padding-left:340px;
          background:url('../images/rg-stockholm.png') no-repeat 0px 10px,
                         url('../images/separator.png') no-repeat center bottom;
        }

.beijing#promo {
  padding-left:340px;
  background:url('../images/rg-beijing.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.beijing#promo h1 {
  background:url('../images/rg-beijing-header.png') no-repeat left top;
}

.beijing_siliconvalley#promo {
  padding-left:340px;
  background:url('../images/rg-beijing.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.beijing_siliconvalley#promo h1 {
  background:url('../images/rg-beijing-siliconvalley-header.png') no-repeat left top;
}


#promo {
  padding-left:340px;
  padding-top:30px;
  padding-bottom:30px;
  background: url('../images/separator.png') no-repeat center bottom;
  min-height:300px;
}

.oulu#promo {
  padding-left:340px;
  background:url('../images/rg-oulu.png') no-repeat 10px 40px,
                 url('../images/separator.png') no-repeat center bottom;
}

.zagreb#promo {
  padding-left:340px;
  background:url('../images/rg-zagreb.png') no-repeat 10px 40px,
                 url('../images/separator.png') no-repeat center bottom;
}

.ljubljana#promo {
  padding-left:340px;
  background:url('../images/rg-ljubljana.png') no-repeat 10px 40px,
                 url('../images/separator.png') no-repeat center bottom;
}

.dnipropetrovsk#promo {
  padding-left:340px;
  background:url('../images/rg-dnipropetrovsk.png') no-repeat 10px 40px,
                 url('../images/separator.png') no-repeat center bottom;
}

.kyiv#promo {
  padding-left:340px;
  background:url('../images/rg-kyiv.jpg') no-repeat -20px 40px,
                 url('../images/separator.png') no-repeat center bottom;
}

.krakow#promo {
  padding-left:340px;
  background:url('../images/rg-krakow.png') no-repeat 10px 40px,
                 url('../images/separator.png') no-repeat center bottom;
}

.manila#promo {
  padding-left:340px;
  background:url('../images/rg-manila2.jpg') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.paris#promo {
  padding-left:340px;
  background:url('../images/rg-paris.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.riga#promo {
padding-left:340px;
background:url('../images/rg-riga.jpg') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.prague#promo {
padding-left:340px;
background:url('../images/rg-prague.jpg') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.austin#promo {
padding-left:340px;
background:url('../images/rg-austin.jpg') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.singapore#promo {
  padding-left:340px;
  background:url('../images/rg-singapore.jpg') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.shanghai#promo {
  padding-left:340px;
  background:url('../images/rg-shanghai.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.hamburg#promo {
  padding-left:340px;
  background:url('../images/rg-hamburg.png') no-repeat 0 88px,
                 url('../images/separator.png') no-repeat center bottom;
}

.berlin#promo {
  padding-left:340px;
  background:url('../images/rg-berlin.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.tallinn#promo {
  padding-left:340px;
  background:url('../images/rg-tallinn.png') no-repeat 0 -5px,
                 url('../images/separator.png') no-repeat center bottom;
}

.buenosaires#promo {
  padding-left:340px;
  background:url('../images/rg-buenosaires.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.amsterdam#promo {
  padding-left:340px;
  background:url('../images/rg-amsterdam.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.rotterdam#promo {
  padding-left:340px;
  background:url('../images/rg-rotterdam.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.sanfrancisco#promo {
  padding-left:340px;
  background:url('../images/rg-sanfrancisco.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}


.kharkov#promo {
  padding-left:340px;
  background:url('../images/rg-kharkov.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.recife#promo {
  padding-left:340px;
  background:url('../images/rg-portoalegre.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.belem#promo {
  padding-left:340px;
  background:url('../images/rg-belem.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.portoalegre#promo {
  padding-left:340px;
  background:url('../images/rg-portoalegre.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}


.saopaulo#promo {
  padding-left:340px;
  background:url('../images/rg-saopaulo.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.cologne#promo {
  padding-left:340px;
  background:url('../images/rg-cologne.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

/*.washington#promo {*/
  /*padding-left:340px;*/
  /*background:url('../images/rg-washington.png') no-repeat 0 10px,*/
                 /*url('../images/separator.png') no-repeat center bottom;*/
/*}*/

.portland#promo {
  padding-left:420px;
  background:url('../images/rg-portland.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.munich#promo {
  padding-left:340px;
  background:url('../images/rg-munich.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.tokyo#promo {
  padding-left:340px;
  background:url('../images/rg-tokyo.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
  }

.kyoto#promo {
  padding-left:340px;
  background:url('../images/rg-kyoto.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.chicago#promo {
  padding-left:340px;
  background:url('../images/rg-berlin.png') no-repeat 0 10px,
  url('../images/separator.png') no-repeat center bottom;
}

.gurgaon#promo {
  padding-left:340px;
  background:url('../images/rg-berlin.png') no-repeat 0 10px,
  url('../images/separator.png') no-repeat center bottom;
}


.atlanta#promo {
  padding-left:340px;
  background:url('../images/rg-atlanta.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.brussels#promo {
  padding-left:340px;
  background:url('../images/rg-helsinki.jpg') no-repeat 0 10px,
  url('../images/separator.png') no-repeat center bottom;
}


.turku#promo {
  padding-left:340px;
  background:url('../images/rg-helsinki.jpg') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.wroclaw#promo {
  padding-left:340px;
  background:url('../images/rg-wroclaw.jpg') no-repeat 0 10px,
  url('../images/separator.png') no-repeat center bottom;
}

.belohorizonte#promo {
  padding-left:340px;
  background:url('../images/rg-belohorizonte.jpg') no-repeat 0 10px,
  url('../images/separator.png') no-repeat center bottom;
}

.riodejaneiro#promo {
  padding-left:340px;
  background:url('../images/rg-riodejaneiro.png') no-repeat 0 10px,
  url('../images/separator.png') no-repeat center bottom;
}

.kampala#promo {
  padding-left:340px;
  background:url('../images/rg-berlin.png') no-repeat 0 10px,
  url('../images/separator.png') no-repeat center bottom;
}

pre {
  background:#eee;
  color:#111;
  padding: 10px 15px;
  display:block;
  line-height:2;
}

.ps1 { color: #888; }

#promo h1 {
    text-indent:-9999cm;
    margin-bottom:10px;

}

#promo.new h1 {
  font-family: "expressway", 'Helvetica Neue', Helvetica ,sans-serif;
  height:80px;
  font-weight:bold;
  color:#d3360b;
  font-size:52px;
  margin-bottom:20px;
  line-height:1.1;
  text-indent:0;
}

#promo h1 small {
    display:block;
    font-size:24px;
    color:#444;
    font-weight:normal;
    letter-spacing:3px;
}

.frankfurt#promo {
  padding-left:340px;
  background:url('../images/rg-frankfurt.png') no-repeat 0 10px,
  url('../images/separator.png') no-repeat center bottom;
}

.frankfurt#promo h1 {
  background:url('../images/rg-frankfurt-header.png') no-repeat left top;
}

.zagreb#promo h1 {
  background:url('../images/rg-zagreb-header.png') no-repeat left top;
  height:85px;
}

.ljubljana#promo h1 {
  background:url('../images/rg-ljubljana-header.png') no-repeat left top;
  height:85px;
}

.dnipropetrovsk#promo h1 {
  background:url('../images/rg-dnipropetrovsk-header.png') no-repeat left top;
}

.kyiv#promo h1 {
  background:url('../images/rg-kyiv-header.png') no-repeat left top;
}

.atlanta#promo h1 {
  background:url('../images/rg-atlanta-header.png') no-repeat left top;
}

.paris#promo h1 {
  background:url('../images/rg-paris-header.png') no-repeat left top;
}

.riga#promo h1 {
  background:url('../images/rg-riga-header.png') no-repeat left top;
}

.prague#promo h1 {
  background:url('../images/rg-prague-header.png') no-repeat left top;
}

.austin#promo h1 {
  background:url('../images/rg-austin-header.png') no-repeat left top;
}

.amsterdam#promo h1 {
  background:url('../images/rg-amsterdam-header.png') no-repeat left top;
}

.rotterdam#promo h1 {
  background:url('../images/rg-rotterdam-header.png') no-repeat left top;
}

.singapore#promo h1 {
  background:url('../images/rg-singapore-header.png') no-repeat left top;
}

.shanghai#promo h1 {
  background:url('../images/rg-shanghai-header.png') no-repeat left top;
}

.berlin#promo h1 {
  background:url('../images/rg-berlin-header.png') no-repeat left top;
}

.tallinn#promo h1 {
  background:url('../images/rg-tallinn-header.png') no-repeat left top;
}

.krakow#promo h1 {
  background:url('../images/rg-krakow-header.png') no-repeat left top;
}

.buenosaires#promo h1 {
  background:url('../images/rg-buenosaires-header.png') no-repeat left top;
}

.sanfrancisco#promo h1 {
  background:url('../images/rg-sanfrancisco-header.png') no-repeat -4px top;
}

.oulu#promo h1 {
  background:url('../images/rg-oulu-header.png') no-repeat left top;
}

.kharkov#promo h1 {
  background:url('../images/rg-kharkov-header.png') no-repeat left top;
}

.saopaulo#promo h1 {
  background:url('../images/rg-saopaulo-header.png') no-repeat left top;
}

.recife#promo h1 {
  background:url('../images/rg-recife-header.png') no-repeat left top;
}

.belem#promo h1 {
  background:url('../images/rg-belem-header.png') no-repeat left top;
}

.hamburg#promo h1 {
  background:url('../images/rg-hamburg-header.png') no-repeat left top;
}


.portoalegre#promo h1 {
  background:url('../images/rg-portoalegre-header.png') no-repeat left top;
}


.cologne#promo h1 {
  background:url('../images/rg-cologne-header.png') no-repeat left top;
}


.washington#promo h1 {
  background:url('../images/rg-washington-header.png') no-repeat left top;
}

.portland#promo h1 {
  background:url('../images/rg-portland-header.png') no-repeat left top;
}

.munich#promo h1 {
  background:url('../images/rg-munich-header.png') no-repeat left top;
}

.tokyo#promo h1 {
  background:url('../images/rg-tokyo-header.png') no-repeat left top;
}

.kyoto#promo h1 {
  background:url('../images/rg-kyoto-header.png') no-repeat left top;
}

.chicago#promo h1 {
  background:url('../images/rg-chicago-header.png') no-repeat left top;
}
.brussels#promo h1 {
  background:url('../images/rg-brussels-header.png') no-repeat left top;
}

.madrid#promo h1 {
  background:url('../images/rg-madrid-header.png') no-repeat left top;
}

.warsaw#promo h1 {
  background:url('../images/rg-warsaw-header.png') no-repeat left top;
}

.turku#promo h1 {
  background:url('../images/rg-turku-header.png') no-repeat left top;
}

.warsaw#promo {
  padding-left:340px;
  background:url('../images/rg-warsaw.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.manila#promo h1 {
  background:url('../images/rg-manila-header.png') no-repeat left top;
}

.natal#promo h1 {
  background:url('../images/rg-natal-header2.png') no-repeat left top;
}

.natal#promo {
  padding-left:340px;
  background:url('../images/rg-warsaw.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.zurich#promo h1 {
  background:url('../images/rg-zurich-header.png') no-repeat left top;
}

.zurich#promo {
  padding-left:340px;
  background:url('../images/rg-zurich.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.pittsburgh#promo h1 {
  background:url('../images/rg-pittsburgh-header.png') no-repeat left top;
}

.philadelphia#promo h1 {
  background:url('../images/rg-philadelphia-header.png') no-repeat left top;
}

.chengdu#promo {
  padding-left:340px;
  background:url('../images/rg-chengdu.png') no-repeat 0 10px,                              url('../images/separator.png') no-repeat center bottom;
}

.chengdu#promo h1 {
  background:url('../images/rg-chengdu-header.png') no-repeat left top;
}

.wroclaw#promo h1 {
 background:url('../images/rg-wroclaw-header.png') no-repeat;

}

.gurgaon#promo h1 {
  background:url('../images/rg-gurgaon-header.png') no-repeat;
  height: 85px;
}

.kampala#promo h1 {
  background:url('../images/rg-kampala-header.png') no-repeat;
  height: 85px;
}

.belohorizonte#promo h1 {
  background:url('../images/rg-belohorizonte-header.png') no-repeat;
  height: 85px;
}
.riodejaneiro#promo h1 {
  background:url('../images/rg-riodejaneiro-header.png') no-repeat;
  height: 85px;
}

.pittsburgh#promo {
  padding-left:340px;
  background:url('../images/rg-pittsburgh.jpg') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.philadelphia#promo {
  padding-left:340px;
  background:url('../images/rg-pittsburgh.jpg') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.dallas#promo h1.event-city {
  background: none;
  text-indent: 0px;
  color:#E0330C;
  font: 56px 'Interstate';
  height: 60px;
  margin-bottom: 0px;
  letter-spacing:-3px;
  vertical-align: :top;
}

.dallas#promo div.event-date{
  color: #3f3f3f;
  font: 24px 'Interstate';
  letter-spacing:-2px;
}

.dallas#promo {
  padding-left:340px;
  background:url('../images/rg-dallas.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.melbourne#promo {
  padding-left:340px;
  background:url('../images/rg-melbourne.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.melbourne#promo h1 {
  background:url('../images/rg-melbourne-header.png') no-repeat left top;
  height:85px;
}

.dublin#promo {
  padding-left:340px;
  background:url('../images/rg-dublin.png') no-repeat 0 10px,
                 url('../images/separator.png') no-repeat center bottom;
}

.dublin#promo h1 {
    background:url('../images/rg-dublin-header.png') no-repeat left top;

    }

.rheinland#promo {
  padding-left:340px;
  padding-bottom:51px;
  background:url('../images/rg-rheinland.png') no-repeat 0 10px,
  url('../images/separator.png') no-repeat center bottom;
}

.rheinland#promo h1 {
  background:url('../images/rg-rheinland-header.png') no-repeat left top;
}

#promo p {
  font-size:19px;
  line-height:1.4;
  color:#333;
  margin-bottom:1.5em;
}

#promo .register {
  float:left;
  margin-right:30px;
}

#share {
  padding-top:10px;
}

#share div {
  float:left;
}

.feature p {
  font-size:17px;
  padding:20px 10px 30px;
}

.feature p strong {
  color:#d3360b;
}

#schedule td {
  padding:1em 0;
  font-size:15px;
}

#schedule th {
  width:25%;
  font-size:15px;
  font-weight:200;
  text-align:left;
}

#schedule td h4 {
  margin-bottom:0.2em;
}

.side h3 {
  margin:2.5em 0 0.8em;
  line-height:1.2;
  font-weight:500;
}

h3 span {
  color:#000;
  font-size:18px;
}

h3 a {
  border:0;
}

#nitty-gritty h3 {
  margin-top:25px;
}

.register {
  color:#fff;
  background:#d3360b;
  border-bottom:3px solid #701d07;
  text-decoration:none;
  padding:10px 30px;
  border-radius:4px;
}

a {text-decoration:none; border-bottom: 1px dotted #d3360b;}

p {
  font-size:1.1em;
}

h1, h2, h3, h4, h5 {
  margin:0 0 0.8em 0;
}

h3, h4, h5, a {
  color:#e0330c;
  line-height:1.1;
}

ul{
list-style-position:inside;
margin:0 0 20px 0;
list-style-type:disc;
}

li {
  margin:0 0 0 10px;
  color:#e0330c;
}

a {

}

a img, img a, img {
  border:0;
}


h2, h5 {
  font-weight:normal;
  font-weight:200;
}

h2 {
  letter-spacing:0.1em;
  margin:0.2em 0 1em;
}

h4 {
  font-weight:400;
}

h5 {
  font-size:16px;
}

blockquote {
  color:#e0330c;
  font-size:1.6em;
  margin:1em 0;
  padding:0;
  text-indent:0;
  line-height:1.1;
}

blockquote:before,blockquote:after,q:before,q:after{content:none}

input, textarea {
  border:0;
  padding:8px 8px;
  font-size:1.2em;
  margin:12px 10px 10px 0;
  font-family:Georgia, sans-serif;
  background:#ffeeda;
}

input::-webkit-input-placeholder {
  color:#333;
}

label {
  font-size:1.0em;
  text-transform:uppercase;
}

input[type=submit] {
  border:0;
  border-bottom:3px solid #a80000;
  background-color:#dd390d;
  color:white;
  padding:5px 15px;
  width:auto;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  cursor:pointer;
  line-height:16px;;
}

hr {clear:both;margin:2.5em 0 1.5em 0; border:0; border-bottom:1px solid #ddd;}


/* ------ CLEAN ------- */
header {
  height:70px;
  color:#fff;
  padding-top:50px;
  background:#d3360b;
}

header #logo {
  width:240px;
  float:left;
}

nav {
  margin:0 0 0 250px;
  padding-top:12px;
}

nav a {
  color:#fff;
  text-decoration:none;
  font-weight:300;
  font-size:20px;
  letter-spacing:1px;
  margin-left:15px;
}

nav a:after {
  margin-left:15px;
  content:url(../images/star.png);
}

nav a:last-child:after {
  content:none;
}

nav a:hover{
  text-decoration:underline;
}

footer {
  color:#666;
  overflow:hidden;
  width:100%;
  padding:40px 0;
  background:#F4F4F4;
  line-height:1.5;
  text-align:center;
}

footer a {
  color:#111;
  border-color:#111;
}

.event {
  box-shadow:0 2px 3px #ddd;
  border:1px solid #eee;
  height:200px;
  background-position:0 -100px;
  margin-bottom:40px;
  -webkit-transition:0.4s box-shadow;
}

.event:hover {
  -webkit-transition:0.4s all;
  box-shadow:0 2px 3px #999;
  border-color: #ddd;
}

.event.tba {
  box-shadow:none;
  border:1px solid #eee;
}

.event.tba h3 {
  color:#888;
  border-color:#888;
}

.event.tba h3 small {
  color:#888;
}

.event h3 {
  margin-top:129px;
  padding:10px 15px;
  background:#fff;
  border-top:3px solid #d3360b;
}

.event h3 small {
  line-height:1.5;
  display:block;
  font-size:80%;
  color:#000;
  font-weight:400;
}


.coaches a {
  font-size:16px;
  border:0;
  margin-bottom:30px;
  line-height:1.5;
}

.coaches img {
  float:left;
  width:48px;
  border:1px solid #ddd;
  margin-right:15px;
}

.coaches small {
  color:#000;
  display:block;
  font-size:90%;
}

.coaches .grid_3 {
  margin-left:0;
  height: 69px;
  margin-right:20px;
}


.coaches .grid_3:nth-child(4n+4) {
  margin-right:0;
}


#left, #right {
  width:250px;
  float:left;
  font-size:36px;
  padding-top:40px;
  text-shadow:0 1px 0 #a80000;
}

#left {
  text-align:right;
}

#right {
  float:right;
}

#workshop, #nitty-gritty, #answers, #about, .sec  {
  border-top:4px solid #dd390d;
}

.sec {margin:30px 0 30px 0;}

.section {
  margin-bottom:60px;
}

.schedule {
  margin-top:40px;
}

.schedule ul {
  list-style:none;
  margin:0;
  padding:0;
}

.schedule ul li {
  margin:0 0 0.2em 0;
  display:block;
}

.schedule ul li.grid_7 {
  font-size:1.2em;
  color:#333;
}

.schedule .alpha {
  font-size:2.4em;
  text-transform:uppercase;
  line-height:1.3;
}

.schedule h4.alpha span {
  display:block;
  font-size:0.5em;
  line-height:0;
}

.schedule li.grid_2 {
  text-align:center;
}

.slogan {
  font-size:1.5em;
  letter-spacing:0.5em;
}

#inline {
  text-align:center;
  margin:3em 0;
  display:block;
}

#data {
  padding:20px;
  width:500px;
}

#data h2 {
  border-top:4px solid #e0330c;
  margin-top:10px;
}

#data label {
  display:block;
  color:#e0330c;
}

#data input, #data textarea {margin:5px 0 25px 0; width:97%;}

#data input[type=submit] {width:auto;}

#data textarea {height:40px;}

#data label.ss-q-help {
  text-transform:none;
  color:#333;
}

.page {
  padding:40px 0;
}

.page h1 {
  font-size: 36px;
  font-weight:normal;
}

.page h2 {
  margin-top:40px;
}

.sec h2 {margin-top:0;}

.quotes {
  font-family:Georgia;
  color:#333;
  font-style:italic;
  display:block;
  margin-bottom:2em;
  padding-left:2em;
  font-size:1.3em;
  line-height:1.3;
  float:left;
}

.quotes:before {
  font-size:3em;
  content:'“';
  float:left;
  margin-top:-15px;
  color:#e0330c;
  margin-left:-0.7em;
}

.upcoming span {
  font-size:70%;
}

.upcoming {
  overflow:auto;
  margin-bottom:20px;
  display:block;
  border-color:#ccc;
}

h2 a {
  border:0;
  color:#000;
}

#nitty-gritty .upcoming h3 {
  margin-top:0;
  margin-bottom:20px;
}

.upcoming img {
  float:left;
  margin-right:15px;
}

