<style type="text/css">
    div.past-supports {
        margin-bottom: 1rem;
        position: relative;
        height: 100%;
    }

    div.past-supports img.photo {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    img.photo:hover {
      opacity: 0.8;
    }

    div.past-supports span.event-name {
      color: #fff;
      background-color: #d3360b;
      padding: 0.2em 0.5em;
      position: absolute;
      bottom: 1rem;
      right: 0;
    }

    span.event-name:after {
      content: '▶';
      padding-left: 0.2em;
      font-size: smaller;
    }
    
    .support-card {
      margin-bottom: 1.5rem;
    }
</style>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    <div class="col support-card">
      <div class="past-supports">
        <a href="/2025/11/01/kaigi-on-rails-2025-support-for-alumni/">
          <img class="photo" src="/images/blog/kaigi-on-rails2025-support-for-alumni.jpg" style="object-position: 60% center;">
          <span class="event-name">Kaigi on Rails 2025</span>
        </a>
      </div>
    </div>

    <div class="col support-card">
      <div class="past-supports">
        <a href="/2025/06/20/rubykaigi-2025-support-for-alumni/">
          <img class="photo" src="/images/blog/rubykaigi2025-support-for-alumni.jpg">
          <span class="event-name">RubyKaigi 2025</span>
        </a>
      </div>
    </div>

    <div class="col support-card">
      <div class="past-supports">
        <a href="/2024/12/08/kaigi-on-rails-2024-support-for-alumni/">
          <img class="photo" src="/images/blog/kaigi-on-rails2024-support-for-alumni.jpg">
          <span class="event-name">Kaigi on Rails 2024</span>
        </a>
      </div>
    </div>

    <div class="col support-card">
      <div class="past-supports">
        <a href="/2024/06/11/rubykaigi2024-support-for-alumni/">
          <img class="photo" src="/images/blog/rubykaigi2024-support-for-alumni.jpg">
          <span class="event-name">RubyKaigi 2024</span>
        </a>
      </div>
    </div>

    <div class="col support-card">
      <div class="past-supports">
        <a href="/2023/11/09/kaigi-on-rails-support-for-alumni/">
          <img class="photo" src="/images/blog/kaigi-on-rails-support-for-alumni.jpg">
          <span class="event-name">Kaigi on Rails 2023</span>
        </a>
      </div>
    </div>

    <div class="col support-card">
      <div class="past-supports">
        <a href="/2023/06/16/rubykaigi2023-support-for-alumni/">
          <img class="photo" src="/images/blog/rubykaigi2023-support-for-alumni1.png">
          <span class="event-name">RubyKaigi 2023</span>
        </a>
      </div>
    </div>

    <div class="col support-card">
      <div class="past-supports">
        <a href="/2022/12/01/rubykaigi2022-support-for-alumni/">
          <img class="photo" src="/images/blog/rubykaigi2022-support-for-alumni.jpg">
          <span class="event-name">RubyKaigi 2022</span>
        </a>
      </div>
    </div>

    <div class="col support-card">
      <div class="past-supports">
        <a href="/2021/11/21/rubykaigi-takeout-2021-support-for-alumni/">
          <img class="photo" src="/images/blog/rubykaigi-2021-takeout-logo.png">
          <span class="event-name">RubyKaigi Takeout 2021</span>
        </a>
      </div>
    </div>

    <div class="col support-card">
      <div class="past-supports">
        <a href="/2019/06/04/rubykaigi2019-support-for-alumni/">
          <img class="photo" src="/images/blog/rubykaigi2019-support-for-alumni1.jpg">
          <span class="event-name">RubyKaigi 2019</span>
        </a>
      </div>
    </div>

    <div class="col support-card">
      <div class="past-supports">
        <a href="/2018/12/04/rubykaigi2018-support-for-alumni/">
          <img class="photo" src="/images/blog/rubykaigi2018-support-for-alumni.jpg">
          <span class="event-name">RubyKaigi 2018</span>
        </a>
      </div>
    </div>

    <div class="col support-card">
      <div class="past-supports">
        <a href="/2017/09/23/rubykaigi2017-support-for-alumni/">
          <img class="photo" src="/images/blog/DKJjw4LVAAAeWAj.jpg">
          <span class="event-name">RubyKaigi 2017</span>
        </a>
      </div>
    </div>
</div>
