<link href="/css/custom.css" rel="stylesheet"/>
{% include header.html %}
<article class="container">
  <div class="main">
    <ol class="posts">
      {% for post in site.posts limit:50 %}
      {% unless post.permalink or post.description == "event" %}
      <li>
        <div id="aside"><span>{{ post.date | date:"%Y-%m-%d" }}</span></div>
        <div class="post_content">
          <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
          <p>{{ post.content }}</p>
        </div>
      </li>
      {% endunless %}
      {% endfor %}
    </ol>
  </div>
</article>
{% include footer.html %}
