<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <title>Rails Girls - Japanese</title>
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="/js/prefixfree.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    jQuery.ajaxPrefilter( function( s ) {
      if ( s.crossDomain ) {
          s.contents.script = false;
      }
    } );
  </script>
  <script src="/js/js.cookie.js"></script>
  <script src="/js/guides.js"></script>
  <script src="/js/mobile-menu.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
  <link href="/css/code.css" rel="stylesheet"/>
  <link href="/css/text.css" rel="stylesheet"/>
  <link href="/css/style.css" rel="stylesheet"/>
  <link href="/favicon.png" rel="shortcut icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include header.html %}
    <article class="container">
      <div class="row-md-10">
        {{ content }}
      </div>
    </article>
  {% include footer.html %}
</body>
</html>
