{% include header.html %}

<article class="container">
  <div class="span10">

    <div class="page__header">
      <h1 class="page__title">{{ page.title }}</h1>
      <p class="page__date">{{ page.date | date: '%B %d, %Y' }}</p>
    </div>

    <div class="page__body">
      {{ content }}
    </div>

    <div class="row">
      <div class="span4">
        {% if page.next %}
          <p class="pager__item--next">
            <a href="{{ page.next.url | relative_url }}">&lt; {{ page.next.title }}</a>
          </p>
        {% endif %}
      </div>
      <div class="span4 offset1 text-right">
        {% if page.previous %}
          <p class="pager__item--prev">
            <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} &gt;</a>
          </p>
        {% endif %}
      </div>

    </div><!--pager-->
  </div>
</article>

<!--<div class="contents page">-->
  <!--<div class="container">-->

    <!--<div class="page__header">-->
      <!--<h1 class="page__title">{{ page.title }}</h1>-->
      <!--<p class="page__date">{{ page.date | date: '%B %d, %Y' }}</p>-->
    <!--</div>-->

    <!--<div class="page__body">-->

      <!--{{ content }}-->


    <!--</div>&lt;!&ndash;page__body&ndash;&gt;-->

    <!--&lt;!&ndash; 前後のページへのリンクを表示したい &ndash;&gt;-->
    <!--<div class="pager">-->

      <!--{% if page.next %}-->
      <!--<p class="pager__item&#45;&#45;next">-->
        <!--<a href="{{ page.next.url | relative_url }}">&lt; {{ page.next.title }}</a>-->
      <!--</p>-->
      <!--{% endif %}-->

      <!--{% if page.previous %}-->
      <!--<p class="pager__item&#45;&#45;prev">-->
        <!--<a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} &gt;</a>-->
      <!--</p>-->
      <!--{% endif %}-->

    <!--</div>&lt;!&ndash;pager&ndash;&gt;-->

  <!--</div>&lt;!&ndash;container&ndash;&gt;-->
<!--</div>-->

{% include footer.html %}
